*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.book1{
    background: url(../project-img/br-appointment.jpg);
    background-size: cover;
}


.appoinment{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    background-image: url(../project-img/about.webp);
}

.appoinment-right{
    /* border: 2px solid green; */
    height: 100%;
    width: 70%;
    padding: 20px;
    display: grid;
    place-items: center;
}
.appoinment-right .appoinment-content{
    /* border: 2px solid yellow; */
     height: 100%;
    width: 90%;
}
.appoinment-right .appoinment-content .app-top{
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
}

.out{
    /* border: 2px solid; */
     gap: 10px;
     /* margin: 30px 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.first label{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
     
}
.first input{
    position: absolute;
    opacity: 0;
}
.first input:checked+ .t-1{
    position: absolute;
    /* opacity: 1; */
    background:linear-gradient(orange,rgba(255, 217, 1, 0.877));
     box-shadow: -1px 0px 6px 0px rgb(252, 235, 5);
}
.first input:checked+ .t-1 .icon i{
    color: orangered;
}
.out .first .t-1{
    margin: 0;
    padding: 28px 30px 30px;
    /* border: 1px solid red; */
    border-radius: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
     background-color: rgb(172, 162, 155);
     display: flex;
     flex-direction: column;
     align-items: flex-start ;
     grid-area: 9px;
    
}
.out .first .t-1 .icon i{
    font-size: 25px;
    color: black;
}

.row{
    /* border: 2px solid red; */
   margin-top: 20px;
   padding: 20px;
   background-color: #2a2a3dbb;
   border-radius: 10px;
  box-shadow: inset -1px -1px 17px 0px white;
}
.left-msg-6{
    /* border: 2px solid; */
     display: flex;
     height: 10vh;
     align-items: center;
     justify-content: space-between;
}
.right-msg-6{
    /* border: 2px solid; */
    display: flex;
     height: 19vh;
     align-items: center;
    justify-content:space-between;
}
input{
    padding: 10px;
    background:none;
    border: none;
    border-bottom: 2px solid gray;
    cursor: pointer;
}
label{
    cursor: pointer;
    color: white;
}

.book{
    display: flex;
    justify-content: center;
}
.book .btn{
    margin-top: 10px;
    padding: 5px;
    width: 30vh;
    cursor: pointer;
    font-size: 15px;
    color: white;
    /* border: none; */
}
.app-top p{
    color: gold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-shadow: 1px 4px 4px gold;
}