*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appoinment{
    border: 2px solid red;
    display: flex;
    gap: 20px;
    padding: 30px;
}
.appoinment-left{
    border: 2px solid green;
    height: 90vh;
    width: 80%;
}
.appoinment-right{
    border: 2px solid green;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    place-items: center;
}
.appoinment-right .appoinment-content{
    /* border: 2px solid yellow; */
     height: 100%;
    width: 90%;
}
.appoinment-right .appoinment-content .app-top,.app-mid,.app-center,.app-footer,.app-footer1,.app-footer2{
    border: 2px solid blue;
    height: 100%;
    width: 100%;
}
.appoinment-right .appoinment-content .app-mid{
    border: 2px solid blueviolet;
    height: 30vh;
    width: 100%;
}
.appoinment-right .appoinment-content .app-center{
    border: 2px solid red;
    height: 20vh;
    width: 100%;
}
.appoinment-right .appoinment-content .app-footer{
    border: 2px solid green;
    height: 35vh;
    width: 100%;
}
.appoinment-right .appoinment-content .app-footer1{
    border: 2px solid yellow;
    height: 15vh;
    width: 100%;
}
.appoinment-right .appoinment-content .app-footer2{
    border: 2px solid red;
    height: 15vh;
    width: 100%;
}
.out{
    /* border: 2px solid; */
     gap: 10px;
     /* margin: 30px 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.first label{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}
.first input{
    position: absolute;
    opacity: 0;
}
.first input:checked+ .t-1{
    position: absolute;
    /* opacity: 1; */
    background-color: rgb(255, 147, 6);
}
.first input:checked+ .t-1 .icon i{
    color: orangered;
}
.out .first .t-1{
    margin: 0;
    padding: 28px 30px 30px;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    cursor: pointer;
     background-color: blanchedalmond;
     display: flex;
     flex-direction: column;
     align-items: flex-start ;
     grid-area: 9px;
}
.out .first .t-1 .icon i{
    font-size: 25px;
    color: black;
}