@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Eagle+Lake&family=Metal+Mania&display=swap');
:root {
    --font-p: "Cinzel", serif;
    --font-heading: "Metal Mania", system-ui;
    --font-mainhead:"Eagle Lake", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family:"Cinzel", serif ;
}
body{
    overflow-x: hidden;
}

.s1 {
    background: url(../project-img/bgmain.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.s1::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(to right,#00000034) transparent;
}


.cover1 {
    /* border: 2px solid rgb(0, 255, 55); */
    display: flex;
    justify-content: center;
    position: relative;

    /* padding: 20px; */
}

.content {
    /* border: 2px solid rgb(195, 0, 255); */
    position: relative;
    height: 60vh;
    display: grid;
    place-items: center;

}

.content h1 {
    color: #fff;
    font-size: 4rem;
    cursor: default;
    font-family: "Cinzel", serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.content h3 {
    position: absolute;
    top: 37vh;
    /* left: 100px; */
    font-size: 1.4rem;
    color: rgb(233, 162, 9);
    cursor: default;
}

.content h3 a {
    text-decoration: none;
    color:white;
}   
.content h3 a:hover{
    text-decoration: underline;
}


.container .f-body {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    /* background: black; */
}

.container .s-body {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    /* background: black; */
}

.container .t-body {
    display: flex;
    justify-content: center;
    padding: 40px;
    /* flex-direction: row-reverse; */
    /* background-color: black; */
    gap: 40px;
}


.l-box {

    /* border: 2px solid #ff6600; */
    /* height: 100vh; */
    width: 100%;
    /* background-color:#F5F5DC; */
    /* margin-top: 85px; */
    display: flex;
    flex-direction: column;
}

.line1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
}

.l-box h1 {
    font-family:var(--font-mainhead);
    font-size: 5rem;
    color: #0a0a0a;
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
}

.line1 h2 {
    font-family: var(--font-p);
    font-size: 2rem;
    color: #141212;
}

.line1 span {
    align-self: center;
}

.line1 .rupees {
    font-size: 30px;
    font-weight: 600;
    color: sandybrown;
}

.l-box p {
     /* font-family: "Racing Sans One", sans-serif; */
    color: gray;
}
.l-box button{
    padding: 19px 0;
    background: sandybrown;
    font-size: 1.1rem;
    border: none;
}

.l-box a:hover {
    color: rgb(255, 255, 255);
}
.l-box button a{
    text-decoration: none;
    color: #0a0a0a;
}
.r-box {
    /* border: 2px solid rebeccapurple; */
    height: 71vh;
    width: 100%;
    position: sticky;
    top: 0%;
    overflow: hidden;
}

.r-box img {
    height: 100%;
    width: 100%;
    position: relative;
    transform: scale(1);
    transition: 3s;
}
.r-box:hover img{
    transform: scale(1.4);
}


.con {
    /* border: 2px solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(41, 37, 29, 0.692);
    top: 0;
}

.s-body {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: row-reverse;
    background-color: black;
}

.r-box h2 {
    position: absolute;
    color: sandybrown;
    /* margin: 10px 20px; */
    top: 30%;
    left: 30%;
    font-family: var(--font-p);
    
}

.r-box h1 {
    position: absolute;
    font-size: 3rem;
    color: #fff;
    top: 40%;
    left: 30%;
     font-family:var(--font-mainhead);
}

