@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Eagle+Lake&family=Metal+Mania&display=swap');

:root {

    --font-p: "Cinzel", serif;
    --font-heading: "Metal Mania", system-ui;
    --font-mainhead: "Eagle Lake", serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
    box-sizing: border-box;
}


.p1 {
    background: url(../project-img/br-shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p1::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(to right, #00000034) transparent;
}

.cd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    padding: 20px 10px;
    background-color: rgba(255, 105, 180, 0.137);
}

.main-box {
    /* outline: 2px dotted brown; */
    /* border: 2px solid black; */
    height: 330px;
    width: 280px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 45px;
    /* border-radius: 5px; */
    overflow: hidden;

}


.main-box:hover {
    box-shadow: 0px -1px 13px 0px #484949;
    cursor: default;
}

.top-box {
    /* border: 2px solid red; */
    height: 200px;
    width: 280px;
    padding: 5px auto;
    /* border-top-left-radius: 20px; */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.top-box img {
    height: 200px;
    width: 280px;
     border-top-right-radius: 10px;
    transform: scale(1);
    transition: 1s;
}

.top-box:hover img {
    transform: scale(1.1);
}

.top-box .design {
    position: absolute;
    /* border: 2px solid; */
    height: 20vh;
    width: 10vh;
    z-index: 2;
    top: 10px;
    right: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: 1s;
}

.top-box:hover .design {
    right: 0;
}

.design .heard {
    /* border: 2px solid; */
    /* position: absolute; */
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: red;
}

.design .heard1 {
    /* border: 2px solid; */
    /* position: absolute; */
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: rgb(39, 134, 172);
}





.bottom-box {
    /* border: 1px solid black; */
    height: 130px;
    width: 280px;
    position: relative;
    bottom: 0;
    padding: 10px;
    background-color: #ecdf225b;
    border-bottom-left-radius: 10px;
    /* border-bottom-right-radius: 20px; */

}

.bottom-box h3 a {
    position: absolute;
    font-size: 17px;
    font-weight: 990px;
    left: 19px;
    color: black;
    font-family: "Eagle Lake", serif;
    text-decoration: none;
}

.bottom-box h3 a:hover {
    text-decoration: underline;
}

.bottom-box p {
    position: absolute;
    font-size: 17px;
    top: 27px;
    left: 6px;
    font-weight: 0px;
    margin: 15px;
    /* font-family: var(---FONT-MAIN); */
    font-family: "Metal Mania", system-ui;
}

.bottom-box h4 {
    padding: 7px;
    position: absolute;
    font-size: 20px;
    top: 35px;
    right: 10px;
    color: rgba(214, 13, 13, 0.788);
    font-family: "Metal Mania", system-ui;

}

.bottom-box button {
    bottom: -60px;
    left: 40px;
    padding: 8px 25px;
    border-radius: 15px;
    font-size: 19px;
    font-weight: 200;
    color: rgba(17, 1, 90, 0.623);
    background-color: #17cfe702;
    font-family: var(--font-heading);
    /* font-style: italic; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border: none;
}

.bottom-box button::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 100%;
    background: #00122673;
    top: 0;
    left: -140%;
    /* z-index: 60;  */
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    transform: translateX(-130%,0,0);
    transition: 1s;
    z-index: -1;
}

.bottom-box button:hover::before {
    left: 0;


}

.bottom-box del {
    position: absolute;
    /* bottom: 40px; */
    top: 43px;
    left: 100px;
    font-size: 15px;
    color: rgb(160, 165, 175);
    font-family: "Metal Mania", system-ui;
}



.contain {
    /* border: 2px solid yellow; */
    padding: 20px;
    /* background-color: #710ad188; */
    background-image: url(https://www.constitutionbarberhartford.com/wp-content/uploads/2025/05/Looking-for-the-best-barbershop-in-Hartford-About-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foot-main {
    cursor: default;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.foot-con1 {
    cursor: default;
    /* border: 2px solid #7e8000; */
    /* height: 50vh; */
    /* width: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;

}

.foot-con2 {
    cursor: default;
    /* border: 2px solid #7e8000; */
    /* height: 50vh; */
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.foot-con3 {
    cursor: default;
    /* border: 2px solid green; */
    /* height: 50vh; */
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot-con1 .logo {
    height: 6rem;
    width: 16rem;
    /* border: 2px solid; */
    margin: 5px 30px;
}

.foot-con1 .logo img {
    height: 6rem;
    width: 16rem;
    object-fit: fill;
}

.foot-con1 p {
    /* border: 2px solid; */
    margin: 1px 40px;
    color: antiquewhite;
    font-size: 15px;
}

.foot-con1 a {
    font-family: var(--font-p);
    color: #faebd7c5;
    text-decoration: none;
}

.foot-con1 a:hover {
    text-decoration: underline;
}

.foot-con1 a:active {
    color: red;
}

.foot-con1 span {
   padding: 10px;
    color: sandybrown;
}

.emoji {
    cursor: default;
    /* border: 2px solid; */
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 20px 40px;
}

.emoji .b1 {
    cursor: default;
    /* border: 2px dotted rgba(212, 131, 24, 0.363); */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #ffffff;
}
.emoji .b1:hover{
    background-color:yellow;
}

.emoji .b1 i {
    cursor: default;
    font-size: 25px;
}

.emoji .b1 #green {
    color: green;
}

.emoji .b1 #blue {
    color: #0077ff;
}

.emoji .b1 #darkblue {
    color: darkblue;
}

.emoji .b1 #red {
    color: red;
}

.emoji .b1 #liteblue {
    color: rgb(4, 157, 252);
}

.foot-con2 h1 {
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
    font-family: var(--font-mainhead);
    cursor: default;
    font-size: 1.5rem;
}

.foot-con2 .left h2 {

    cursor: default;
    margin-top: 30px;
    font-size: 1.3rem;
}
.foot-con2 .right{
    margin-right: 30px;
}
.foot-con2 .right h3 {
    cursor: default;
    margin-top: 65px;
    font-size: 1.3rem;
}

.foot-con2 .left p {
    color: #fffdfa;
    margin-top: 10px;
    cursor: default;
}

.foot-con2 .right p {
    color: #fff7e6;
    margin-top: 10px;
    cursor: default;
}

.clr {
    color:rgb(241, 145, 60);
}

.foot-con3 h2 {
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
    font-family: var(--font-mainhead);
    cursor: default;
    margin: -10px 0px 0 20px;
    font-size: 1.6rem;
}

.foot-con3 p {
    color: #fff7ed;
    margin: 20px 20px;
    cursor: default;
}

.foot-con3 input {
    margin-left: 20px;
    height: 50px;
    width: 310px;
    padding: 0 20px;
    border-radius: 10px;
    background: #ffffff;
    border: none;
    border-bottom: 2px solid #ce9c6b;

}

.foot-con3 button {
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;
    width: 310px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    background-color: #420080a2;
    border-radius: 10px;
}

.foot-con3 button:hover {
    border: 1px solid #ce9c6b;
    background-color: #a70404;
    cursor: pointer;
}